extends layout

block content
  h1= title
  - var items = results
  div(class="container-fluid")
     div(class="row m-1")
     each van in items
      - let destination = `dispatch(\"/vans/update?id=${van._id}\")` 
      div(class="row-sm-2", class="m-1") Item #{van.Company}(#{van.Model}) is #{van.cost}
       button.btn( class="btn-primary ml-1", onclick= destination) Update 
     script.
      function dispatch(path){
      window.location.href=path
      } 