extends layout
block content
  h1= title
  - let vanid = toShow._id
  - let vancompany = toShow.Company
  - let vancost = toShow.cost
  - let vanmodel = toShow.Model
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{vanid}
  - let actionid = "/resource/vans/" + vanid
  form(id='VanForm', action=actionid, method="PUT")
    div.form-group
        label.vanAttr(for='Company') Van Company
        input#Company(type='text', name='Company', value=Company)
    div.form-group
        label.vanAttr(for='Model') Van Model
        input#Model(type='text', name='Model', value=Model)
    div.form-group
        label.vanAttr(for='cost') Van Cost
        input#cost(type='number', name='cost', value=cost)
    input(type="submit")
  script.
    document.forms['VanForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'PUT',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Update succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Update failed " + error )
    });
    });